.modal{ id: "edit-user-#{user.id}", style: "display: none;"}
  = simple_form_for user, :url => user_path(user), :remote => true, :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{ "data-dismiss" => "modal"} &#215;
      %h3 Edit user
    .modal-body
      = f.input :user_name, :autofocus => true
      = f.input :first_name
      = f.input :last_name
      = f.input :email, :required => true
      = f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_id
      = f.input :birthday, :as => :date_picker
    .modal-footer
      = f.submit "Submit", :class => "btn btn-primary"
      %a.btn{ "data-dismiss" => "modal", href: "#"} Close
