%tr
  %td= link_to user.user_name, user
  %td
    %a{ href: "#",  "data-type" => "text", "data-resource" => "user", "data-name" => "email", "data-url"=> "/users/#{user.id}", "data-original-title" => "Enter email"}= user.email
  %td
  %td= user.created_at.to_date
  %td= user.birthday 
  %td
    %a.btn.btn-mini.btn-primary{ "data-toggle" => "modal", href: "#edit-user-#{user.id}", type: "button"}
      %i.icon-edit.icon-white
    = render 'edit_user', :user => user
  %td
    - unless user == current_user
      %a.btn.btn-mini.btn-danger{ "data-toggle" => "modal", href: "#delete-user-#{user.id}", type: "button"}
        %i.icon-remove.icon-white
      = render 'delete_user', :user => user
