.modal{ id: "new_venue", style: "display: none;"}
  = simple_form_for @venue, :url => venues_path(@venue), :remote => true, :html => {:method => :create, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{ "data-dismiss" => "modal"} &#215;
      %h3 Create an address
    .modal-body
      = f.input :address, :size => "60x12" 
      = f.input :zipcode
      = f.input :city 
      = f.input :state
    .modal-footer
      = f.submit "Create", :class => "btn btn-primary"
      %a.btn{ "data-dismiss" => "modal", href: "#"} Close
