= link_to "Social Media App", root_path, :class => 'brand'
- if user_signed_in?
  %ul.nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.icon-user
        = current_user.email
        %b.caret
      %ul.dropdown-menu
        = active_link_to icon_tag('Logout','icon-off'), destroy_user_session_path, :method=>'delete', :wrap_tag => :li
        = active_link_to icon_tag('View','icon-eye-open') , user_account_path, :wrap_tag => :li
        = active_link_to icon_tag('Edit','icon-edit'), edit_user_registration_path, :wrap_tag => :li
        = active_link_to icon_tag('Cancel','icon-trash'), cancel_user_registration_path, :wrap_tag => :li
%ul.nav
  = active_link_to icon_tag('Home','icon-home'), root_path, :wrap_tag => :li 
  = active_link_to icon_tag('About','icon-eye-open'), "#" , :wrap_tag => :li
  = active_link_to icon_tag('Contact','icon-envelope'), "#" , :wrap_tag => :li
  - if user_signed_in?
    = active_link_to icon_tag('Logout','icon-off'), destroy_user_session_path, :method=>'delete', :wrap_tag => :li
  - else
    = active_link_to icon_tag('Login','icon-user'), new_user_session_path, :wrap_tag => :li
    %li
      = link_to "Facebook", user_omniauth_authorize_path(:facebook)
    %li
      = link_to "Twitter", user_omniauth_authorize_path(:twitter)
    %li
      = link_to "Linkedin", user_omniauth_authorize_path(:linkedin)
    %li
      = link_to "Viadeo", user_omniauth_authorize_path(:viadeo)
    - if Rails.env.development?
      %li
        = link_to "Omniauth dev", user_omniauth_authorize_path(:omniauth_dev)
  - if user_signed_in?
    = active_link_to icon_tag('Edit account','icon-edit'), edit_user_registration_path, :wrap_tag => :li
    = active_link_to icon_tag('Social media','icon-film') , accounts_path , :wrap_tag => :li
    - if current_user.has_role? :admin
      %ul.nav
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-pencil
            Admin
            %b.caret
          %ul.dropdown-menu
            = active_link_to icon_tag('User','icon-user'), users_path , :wrap_tag => :li
            = active_link_to 'Omniauth account', omniauth_accounts_path , :wrap_tag => :li
   
  - else
    = active_link_to 'Sign up', new_user_registration_path, :wrap_tag => :li
