.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Account
    = active_link_to  'View', user_account_path, :wrap_tag => :li
    = active_link_to 'Edit', edit_user_registration_path, :wrap_tag => :li
    = active_link_to 'Cancel', cancel_user_registration_path, :wrap_tag => :li
    %li.nav-header Social media
    = active_link_to 'My social accounts' , accounts_path, :wrap_tag => :li
    = active_link_to 'Attach social account', edit_user_registration_path(anchor: "attach"), :wrap_tag => :li
