!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Social Media App"
    %meta{name: "description", content: content_for?(:description) ? yield(:description) : "Social Media App" }
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{class: [controller_name, action_name ]}
    .navbar.navbar-inverse.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    .container
      .row
        .span3
          - if user_signed_in?
            = render 'layouts/sidebar'
          - else
            = render 'layouts/pub'
        .span9
          = render 'layouts/messages'
          = render_breadcrumbs
          = yield
      %footer.footer
        .container
          = render 'layouts/footer'

